<%= live_component(@socket, Components.Navigation, id: :navigation, page: :home, current_user: @current_user, admin_user: @admin_user)%>
<section>
    <div class="flex-grow flex items-center justify-center">
<%= Lib.logo() %>
    </div>
</section>
