@mixin icon-button {
  > button,
  > a {
    font-size: 12 /16 * 1em;
    @content;
    padding: 4px 16px;

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    background: transparent;
    border: none;
    color: #f5f5f5;
    border-radius: 9999px;
    outline: none;
    transition: background 0.2s;

    img {
      padding-right: 8px;
      filter: invert(90%);
      width: 1.6rem;
      height: 1.6rem;
    }

    span {
      font-weight: bold;
    }
  }

  &[data-active="true"] {
    > button,
    > a {
      color: #333;
      background: rgb(255, 216, 21);
      background: linear-gradient(
        90deg,
        rgb(10, 255, 216) 0%,
        rgb(255, 216, 21) 100%
      );

      img {
        filter: invert(0);
      }
    }
  }

  &:hover:not([data-active="true"]) {
    > button,
    > a {
      background: rgb(255, 216, 21);
      color: #333;

      img {
        filter: invert(0);
      }
    }
  }
}
