<div class="flex flex-grow flex-shrink items-center justify-center">
    <section class="text-center">
    <%=Lib.logo(class: "inline") %>
    <br />
    <h1 class="text-4xl font-black"><%= @page %></h1>
    <p>is under construction</p>
    </section>
</div>
